@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p>
    <ul>
        ---------------------
        @foreach (var forecast in Model.Forecasts)
        {
            <li>@forecast.Date.ToShortDateString() - @forecast.Summary</li>
        }
    </ul>
</p>
<p>Mode: @Model.Environment</p>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">File upload</div>
            <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <input asp-for="UploadedFile" />
                <input type="submit" />
            </form>
            </div>
        </div>
    </div>
</div>